@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

body {
    background: #1C1C1C;
    font-family: 'inter', sans-serif;
}

#container {
    text-align: center;
    background: #F4F4F4;
    margin: 0 auto;
    width: 40%;
    padding: 0 0 1rem 0;
}

#main{
    background: #6943FF;
    width: 100%;
    padding: 2rem 0;
    margin-bottom: 2rem;
}

h1 {
    color: #FFFFFF;
    margin: 0 auto;
}

#input-el {
    margin: 2rem auto 2rem;
    display: block;
    width: 8.2rem;
    background: inherit;
    border: 0.2rem solid #B295FF;
    border-radius: 0.5rem;
    font-weight: 800;
    font-size: 3.5rem;
    color: #FFFFFF;
    text-align: center;
}

#button-cv {
    width: 7rem;
    border-radius: 0.5rem;
    background: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    line-height: 2.5rem;
    color: #3D3D3D;
    border: none;
}

#button-cv:hover {
    cursor: pointer;
    width: 7.1rem;
    line-height: 2.7rem;
}

.groups {
    background: #FFFFFF;
    width: 92%;
    padding: 2rem 0 1.5rem 0 ; 
    margin: 0 auto 1rem;
}
.text {
    width: 80%;
    font-style: normal;
    width: 600;
    font-size: 1.2rem;
    text-align: center;
    color: #5A537B;
    margin: 0 auto;
}

.convertion-results {
    font-weight: 400;
    font-size: 1.1rem;
    color: #353535;
}

#footer {
    width: 40%;
    margin: 0 auto;
    padding: 1rem 0 ;   
    background: #6943FF;
    text-align: center;
}

#info {
    margin: 0 auto; 
    color: #F4F4F4;  
}
a {
    color: inherit;
}

a:hover {
     color: black;
}
@media screen and (max-width: 800px){
       #container{
        width: 100%;
       }
       #footer {
        width: 100%;
       }
       .convertion-results {
        font-size: 1.5rem;
    }
}
