@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;800&display=swap');

:root {
    --black: #1C1C1C;
    --beige: #F4F4F4;
    --purple: #6943FF;
    --white: #FFFFFF;
    --light-purple: #B295FF;
    --grey: #3D3D3D;
    --light-purple1: #5A537B;
    --grey1 : #353535 ;
}

body {
    background: var(--black);
    font-family: 'inter', sans-serif;
}

#container {
    text-align: center;
    background: var(--beige);
    margin: 0 auto;
    width: 40%;
    padding: 0 0 1rem 0;
}

#main {
    background: var(--purple);
    width: 100%;
    padding: 2rem;
    margin-bottom: 2rem;
    box-sizing: border-box;
}

h1 {
    color: #FFFFFF;
    margin: 0 auto;
}

#input-el {
    margin: 2rem auto 2rem;
    display: block;
    width: 8.2rem;
    background: inherit;
    border: 0.2rem solid #B295FF;
    border-radius: 0.5rem;
    font-weight: 800;
    font-size: 3.5rem;
    color: #FFFFFF;
    text-align: center;
}

#button-cv {
    margin: 0 auto;
    width: 7rem;
    border-radius: 0.5rem;
    background: #FFFFFF;
    font-weight: 500;
    font-style: normal;
    font-size: 1rem;
    line-height: 2.5rem;
    color: #3D3D3D;
    border: none;
}

#button-cv:hover {
    cursor: pointer;
    width: 7.1rem;
    line-height: 2.7rem;
}

#dark-mode {
    width: 45%;
    margin: 1rem 0 0 0;
}

#dark-label {
    color: #F4F4F4;
    font-weight: bold;
}

.groups {
    background: var(--white);
    width: 92%;
    padding: 2rem 0 1.5rem 0 ; 
    margin: 0 auto 1rem;
}
.text {
    width: 80%;
    font-style: normal;
    width: 600;
    font-size: 1.2rem;
    text-align: center;
    color: var(--light-purple1);
    margin: 0 auto;
}

.convertion-results {
    font-weight: 400;
    font-size: 1.1rem;
    color: var(--grey1);
}

#footer {
    width: 40%;
    margin: 0 auto;
    padding: 1rem ;   
    background: var(--purple);
    text-align: center;
    box-sizing: border-box;
}

#info {
    margin: 0 auto; 
    color: #F4F4F4 ;
}
a {
    color: inherit;
}

a:hover {
     color: var(--black);
}


@media screen and (max-width: 800px){
       #container{
        width: 100%;
       }
       #footer {
        width: 100%;
       }
       .convertion-results {
        font-size: 0.75rem;
    }
}